<h1>Editar cliente</h1>

<%= render 'form' %>

<!-- NOTA: Na ação edit usamos a capacidade do Rails de determinar a rota de
show de um recurso, apenas colocando o objeto como parâmetro. -->
<%= link_to 'Voltar', @cliente,  class: "button1"%> 
