<h1>Editar Equipamento</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @equipamento,id: "button1",  class: "button1" %> 
<%= link_to 'Voltar', equipamentos_path,id: "button1",  class: "button1" %>
