<%= form_for([@orcamento.cliente, @orcamento]) do |f| %>
  <% if @orcamento.errors.any? %>
    <div id="error_explanation">
      <h2> Erro ao salvar registro! Favor verificar. </h2>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
