<h1>Editar orçamento</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', [@orcamento.cliente, @orcamento] , class: "action_button"%>
<%= link_to 'Voltar', cliente_orcamentos_path(@orcamento.cliente) ,  class: "action_button"%>
