<h1>Editar orçamento</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', [@orcamento.cliente, @orcamento] ,id: "button1",  class: "button1"%>
<%= link_to 'Voltar', cliente_orcamentos_path(@orcamento.cliente) ,id: "button1",  class: "button1"%>
