<h1>Orçamentos</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orcamentos.each do |orcamento| %>
      <tr>
        <td><%= link_to 'Mostrar', orcamento %></td>
        <td><%= link_to 'Editar', edit_orcamento_path(orcamento) %></td>
        <td><%= link_to 'Excluir', orcamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Orçamento', new_orcamento_path %>
