
<div class="buttomSuperior">
	<div class="container">
		<h1 class="h1">ClimatizaNet!</h1>

		<p>Sistema de gerenciamento de ordens de serviço para empresas de climatização.</p>

	</div>
</div>


<hr class="featurette-divider">

<div class="row featurette">
        <div >
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div >
          <img class="featurette-image img-responsive" data-src="holder.js/200x200/auto" alt="200x200" src="http://www.novidadediaria.com.br/wp-content/gallery/gestao-de-pessoas/gestao-de-pessoas-9.jpg">
        </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
        <div>
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>  
        <div >
          <img class="featurette-image img-responsive" data-src="holder.js/200x200/auto" alt="200x200" src="http://www.evef.com.br/imagens/modelo%20de%20os%20ordem%20de%20servico.gif">
        </div>

</div>


<hr class="featurette-divider">      

<p>
  <a class="btn btn-primary btn-lg" role="button" <%= link_to "Login >>>", new_user_sessions_path %> </a>
</p>
