<h1>ClimatizaNet</h1>

<p>
Aqui será implementado a apresentação do site!!

  <ul>
    <li><%= link_to "Login", usuario_path %>  </li>
    <li><%= link_to "Quero utilizar o sistema", contato_path %>  </li>
  </ul>
</p>
