<h1>Editar Agenda</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', [@agenda.cliente, @agenda], class: "action_button" %>
<%= link_to 'Voltar', cliente_agendas_path(@agenda.cliente) , class: "action_button"%>
