<p>
  <strong>Data:</strong>
  <%= @agenda.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @agenda.hora %>
</p>

<%= link_to 'Editar', edit_cliente_agenda_path(@agenda.cliente, @agenda) ,id: "button1",  class: "button1"%> |
<%= link_to 'Voltar', cliente_agendas_path(@agenda.cliente),id: "button1",  class: "button1" %>
