<p>
  <strong>Data:</strong>
  <%= @agenda.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @agenda.hora %>
</p>

<%= link_to 'Editar', edit_agenda_path(@agenda) %> |
<%= link_to 'Voltar', agendas_path %>
