<h1>Editar itens</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', [@item.orcamento, @item] , class: "action_button"%>
<%= link_to 'Voltar', orcamento_items_path(@item.orcamento) , class: "action_button"%>
