<NAV>
	<ul>
		<li><%= link_to "Agenda", agendas_path %></li>
		<li><%= link_to "Cliente", clientes_path %></li>
		<li><%= link_to "Equipamento", equipamentos_path %></li>
		<li><%= link_to "Logout",  user_sessions_path(@post), method: "delete" %></li>
	</ul>
</NAV>	